@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color:hsl(210, 46%, 95%);
}


.container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 260px 260px;
    grid-auto-flow: row;
    column-gap: 20px;
    row-gap: 1em;
    color: white;
    justify-content: center;
}

.box {
    border-radius: 10px;
}
.item-a {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: hsl(263, 55%, 52%);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position:top right;
    
}

.item-b {
    background-color:hsl(0, 0%, 81%);
    grid-column: 3;
    grid-row: 1;
    
}

.item-c {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 81%);
    grid-column: 1;
    grid-row: 2;
}

.item-d {
    background-color: hsl(219, 29%, 14%);
    grid-column: 2 / 4;
    grid-row: 2;
}

.item-e {
    background-color: hsl(0, 0%, 100%);
    color:hsl(0, 0%, 81%);
    grid-column: 4;
    grid-row: 1 / 3;
}

.icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }